<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Global</key>
	<dict>
		<key>backgroundColor</key>
		<string>#292b38</string>
		<key>textColor</key>
		<string>#ECF0F1</string>
		<key>barTextColor</key>
		<string>#FFF</string>
		<key>barTintColor</key>
		<string>#01040D</string>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>LightContent</string>
</dict>
</plist>
