<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>银联快捷</string>
		<key>norImage</key>
		<string>home_yl_nor_icon</string>
		<key>selImage</key>
		<string>home_yl_sel_icon</string>
		<key>wayIconImage</key>
		<string>home_yl_way_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>微信扫码</string>
		<key>norImage</key>
		<string>home_wx_nor_icon</string>
		<key>selImage</key>
		<string>home_wx_sel_icon</string>
		<key>wayIconImage</key>
		<string>home_wx_way_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>支付宝扫码</string>
		<key>norImage</key>
		<string>home_zfb_nor_icon</string>
		<key>selImage</key>
		<string>home_zfb_sel_icon</string>
		<key>wayIconImage</key>
		<string>home_zfb_way_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>云闪付</string>
		<key>norImage</key>
		<string>home_ysf_nor_icon</string>
		<key>selImage</key>
		<string></string>
		<key>wayIconImage</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>QQ钱包</string>
		<key>norImage</key>
		<string>home_qq_nor_icon</string>
		<key>selImage</key>
		<string></string>
		<key>wayIconImage</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>京东钱包</string>
		<key>norImage</key>
		<string>home_jd_nor_icon</string>
		<key>selImage</key>
		<string></string>
		<key>wayIconImage</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>银联扫码</string>
		<key>norImage</key>
		<string>home_ylsm_icon</string>
		<key>selImage</key>
		<string></string>
		<key>wayIconImage</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>百度钱包</string>
		<key>norImage</key>
		<string>home_bd_nor_icon</string>
		<key>selImage</key>
		<string></string>
		<key>wayIconImage</key>
		<string></string>
	</dict>
</array>
</plist>
